{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-5 shadow-lg p-4 rounded bg-white">
				<h4 class="mb-4 justify-content-center">Réinitialisation de mot de passe</h4><br>

				{% for message in app.flashes('error') %}
					<div class="alert alert-danger">{{ message }}</div>
				{% endfor %}

				<form method="post">
					<div class="form-floating mb-3">
						<label for="email">Adresse Email :</label><br>
						<input type="email" name="email" id="email" class="form-control" placeholder="email@myges.fr" required>
					</div><br><br>

					<div class="justify-content-center d-flex">
						<button type="submit" class="btn btn-outline-primary ">Envoyer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
