<!DOCTYPE html>
<html>
	<body>
		<h1>Bonjour
			{{ user.firstname }}
			!</h1>
		<p>Nous sommes heureux de vous informer que votre demande de réservation pour
			{{ reservation.objet.nom }}
			a été approuvée.</p>
		<p>Merci de faire confiance à notre service.</p>

		<p>Cordialement,</p>
		<p>L'équipe Appli_Emprunt</p>
	</body>
</html>
