<!DOCTYPE html>
<html>
	<body>
		<h1>Bonjour
			{{ user.firstname }},</h1>
		<p>Nous regrettons de vous informer que votre demande de réservation pour "{{ reservation.objet.nom }}" a été refusée.</p>
		<p>Nous comprenons que cela puisse être décevant. N'hésitez pas à nous contacter si vous avez des questions ou si vous avez besoin de plus d'informations.</p>


		<p>Cordialement,</p>
		<p>L'équipe Appli_Emprunt</p>
	</body>
</html>
