<p>Bonjour
	{{ user.firstname }}
	{{ user.firstname }},</p>
<p>Pour compléter votre inscription, veuillez suivre le lien ci-dessous :</p>
<p>
	<a href="{{ url }}">Compléter mon profil</a>
</p>
<p>Utilisez le mot de passe temporaire suivant pour vous connecter :
	{{ temporaryPassword }}</p>
